@{
    ViewData["Title"] = "Home Page";
}


<title>Inicio | Hospital</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<body>
    <div id="carouselExampleControls" class="carousel slide d-flex" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.igssgt.org/wp-content/uploads/2021/07/banner-principal-pc.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="carousel-item">
                <img src="https://www.igssgt.org/wp-content/uploads/2021/07/BANNER-WEB-PC-SALA-COVID19.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="carousel-item">
                <img src="https://www.igssgt.org/wp-content/uploads/2021/07/vacunas-covid-19-igss.jpg?i=137" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </button>
    </div>
    <br />
    <hr />
    <div class="container-fluid">
        <div class="text-center bg-light bg-opacity-50">
            <h1 class="display-4">Información Relevante </h1>
            <p class="blockquote">En los siguientes enalces podras encontrar mejores soluciones o las soluciones que estas buscando para el trato de enfermedades</p>
        </div>
        <div class="container bg-light bg-opacity-50">
            <div class="row row-cols-3 row-cols-md-3 row-cols-sm-1 g-4">
                <div class="col text-center">
                    <div class="card h-50">
                        <img src="https://hospitalsanjuandedios.mspas.gob.gt/images/spsimpleportfolio/emergencia-de-adultos/emergenciaAdultos_600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Emergencia de adultos</h5>
                            <p class="card-text text-justify">Procedimientos para el ingreso de pacientes en la emergencia de adultos.</p>
                            <a href="https://hospitalsanjuandedios.mspas.gob.gt/component/spsimpleportfolio/item/10-emergencia-de-adultos.html" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>

                </div>
                <div class="col text-center">
                    <div class="card h-50">
                        <img src="https://hospitalsanjuandedios.mspas.gob.gt/images/spsimpleportfolio/procedimientos-para-el-ingreso-de-pacientes-a-la-emerge/emergenciapediatria_600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pediatría</h5>
                            <p class="card-text text-justify">Procedimientos para el ingreso de pacientes a la emergencia de pediatría.</p>
                            <a href="https://hospitalsanjuandedios.mspas.gob.gt/component/spsimpleportfolio/item/13-procedimientos-para-el-ingreso-de-pacientes-a-la-emerge.html" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="card h-50">
                        <img src="https://hospitalsanjuandedios.mspas.gob.gt/images/spsimpleportfolio/horario-de-visita/portfolio1_600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Horario de visita</h5>
                            <p class="card-text text-justify">Días y horarios de visita general a pacientes hospitalizados en salas de adultos y pediatría.</p>
                            <a href="https://hospitalsanjuandedios.mspas.gob.gt/component/spsimpleportfolio/item/1-horario-de-visita.html" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="text-center bg-light">
        <div class="">
            <h1 class="display-4">Informe Nacional de Salud </h1>
            <p class="blockquote">Acercate a ver la situacion por medio del siguiente video</p>
        </div>
        <iframe style="width:650px; height:350px;" src="https://www.youtube.com/embed/JcWqrQ2p-84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="mapouter mx-5">
            <div class="gmap_canvas">
                <iframe width="629" height="369" id="gmap_canvas" src="https://maps.google.com/maps?q=igss zona 9&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://2yu.co">2yu</a>
                <br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 369px;
                        width: 629px;
                    }
                </style><a href="https://embedgooglemap.2yu.co">html embed google map</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 369px;
                        width: 629px;
                    }
                </style>
            </div>
        </div>
        <div class="text-start align-content-center">
            <h3 class="display-5">Información de Contacto</h3>
            <P class="blockquote">
                Encuentranos en 9a calle 7-55 zona 9 <br /> 
                Horarios de Atención: 24 horas de lunes a domingo <br />
                Llama al PBX: 2506-1300 <br />
            </P>
        </div>
    </div>
</body>
